@font-face {
  font-family: 'nickel-gothic';
  src: url('../src/fonts/NickelGothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'nickel-gothic', sans-serif;

}

h1 {
  font-size: 7em;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-family: 'nickel-gothic', sans-serif;
  color: white;
  line-height: 98px;
  margin: 0;
}

p{
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 30px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.sound-info{
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: white;
  color: black;
  padding: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.info-bar{
  position: absolute;
  right: 0%;
  top: 0;
  height: 100vh;
  width: 3rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}


.content{
  writing-mode: vertical-rl;
  display: flex;
  transform: rotate(180deg);
}

.content-btns{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.title-artist{
  width: 150px;
  display: flex;
  flex-direction: column;
}